{% extends 'layout.twig' %}

{% block body %}
<div class="container vw-100 vh-100 d-flex flex-column justify-content-center">
  <div class="row"></div>
  <div class="row">
    <form> 
      <div class="col-lg-4"></div>
      <input class="form-control" type="text" name="UserName" placeholder="UserName">
      <input class="form-control" type="password" name="Password" placeholder="Password">
      <input class="btn btn-primary w-100" type="submit" value="Login">
    </form>
  </div>
  <div class="row"></div>
</div>
{% endblock %}
